body{
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    background-image: url(../img/anh2.jpg);
    background-repeat: no-repeat;
    background-size: 1330px;
    background-position: right bottom;
}

nav{
    display: flex;
    /* space-between khien logo va language tach sang 2 ben */
    justify-content: space-between;
    align-items: center;
    text-transform:uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}


/* display flex cho cac li xep trung 1 dong */
.menu{
    display: flex;
}

.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}

.lang{
    color: #292929;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
}

.menu li a:hover,
.active{
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}

.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 20%; 
    transform: translate(-20%,-50%);
}

.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 16px;
}

.name h1{
    font-family: Poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}

.cv-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}

.cv-btn:hover{
    background-color: #131313;
    transition: all ease 0.5s;
}

.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}

.social a{
    margin: 6px 12px;
}

.social i {
    color: rgba(18, 17, 17, 0.4);
    font-size: 20px;
}

.social a:hover i{
    color: #17d1ac;
    transition: all ease 0.5s;
}

.arrow{
    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid rgba(41, 41, 41, 0.3);
}

.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #292929 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}

#about{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}

.about-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
}

.about-text h1{
    font-size: 5rem;
    color: #17d1ac;
}

.about-text h2{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 400;
}

.about-text h1,h2{
    margin: 0px;
    padding: 0px;
}

.about-text p{
    font-size: 1.2rem;
    color: rgba(251, 251, 251, 0.90);
}

.about-text button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #17d1ac;
}

.about-text button:hover{
    background-color: #FFFFFF;
    transition: all ease 0.3s;
}

#services{
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.s-heading h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}

.s-heading p{
    color: rgba(249, 249, 249, 0.30);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

.s-heading{
    text-align: center;
    margin: 20px 0px;
}

.s-box{
    background-color: #2b2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.s-b-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-b-img{
    width: 100%;
    height: 70%;
}

.s-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-b-text{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-b-text a{
    margin: 0px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.s-type{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.s-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.s-b-text a:hover{
    color: rgba(255, 255, 255, 0.50);
}




