*{
  box-sizing: border-box;
}

body{
  /* background: #F1F3FA; */
  background-image: url(../images/b2.jpg);
}

.row{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.a{
  margin-right: 40px;
  height: 500px;
  margin-bottom: 100px;
  background: #fff;
}

.b{
  height: 500px;
  background: #fff;
}

.profile-userpic img {
  padding: 10px;
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-content {
  padding: 40px;
  min-height: 460px;
  min-width: 300px;
}


.profile-content label{
  font-weight: 600;
  font-size: 19px;
}

h1{
  text-align: center;
}

#btn{
  margin-top: 40px;
}


@media only screen and (max-width: 500px){
  .a{
    width: 100%;
  }
  .b{
    width: 100%;
  }
}